@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cormorant Garamond', system-ui, serif;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
}

@layer components {
  .custom-margin {
    margin-left: calc(215px + (1024px + 100vw) * 0.3);
  }  

  @media (min-width: 768px) and (max-width: 1024px) {
    .custom-margin {
      margin-left: calc(575px + ((100vw - 769px) * 0.843)); /* Adjusted for md screens */
    }
  }

  /* Add the top positioning class with clamp() */
  .responsive-top {
    top: clamp(112px, calc((100vh - 740px) * (160 - 112) / (915 - 740) + 112px), 160px);
  }

  /* Add the top positioning class with clamp() */
.responsive-top-tab {
  /* Dynamically adjust top between 48px and 112px based on screen height */
  top: clamp(48px, calc((100vh - 1024px) * (112 - 48) / (1180 - 1024) + 48px), 112px);
}

.project:hover h2{
  transform: translateX(-10px);
}

.project:hover p{
  transform: translateX(10px);
}

}


/* styles/MainSection.module.css */
/* .main-section {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 4;
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover; /* Ensures the image covers the section */
  /* background-position: left center; Keeps the left side of the image fixed */
  /* background-repeat: no-repeat; Prevents repeating */
/* } */ 
